
src/.ipynb_checkpoints/Preferences-checkpoint.jl
.ipynb_checkpoints/Manifest-checkpoint.toml
.ipynb_checkpoints/Project-checkpoint.toml
.ipynb_checkpoints/README-checkpoint.md
src/.ipynb_checkpoints/Cyclicity-checkpoint.jl
src/.ipynb_checkpoints/Degree-checkpoint.jl
src/.ipynb_checkpoints/Predictions-checkpoint.jl
src/.ipynb_checkpoints/RevealedPreferences-checkpoint.jl
src/Rationality/.ipynb_checkpoints/Axioms-checkpoint.jl
src/Rationality/.ipynb_checkpoints/Indices-checkpoint.jl
test/.ipynb_checkpoints/runtests-checkpoint.jl
